# === Nextflow Heavy Execution Data ===
.nextflow/
.nextflow.log*
work/

# === Pipeline Output Directories ===
outputs/
results/

# === Heavy Biological Test Data ===
test_data/
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.fasta
*.fa
*.fna
*.bam
*.bai
*.sam

# === Terraform Infrastructure ===
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# === System & Editor Files ===
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*:Zone.Identifier
test_data/



# Ignore result and data directories
results_*/
results/
outputs/
data/
work/
.nextflow*
venv3/
.env
nextflow/output/
nextflow/test-fungalflow/
__pycache__/
*.pyc
.DS_Store

# Ignore common bioinformatics file formats
*.bam
*.bai
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.vcf
*.gz
*.fasta
*.faivenv3/
venv/
work/
.nextflow.log*
venv3/
