// plantflow/nextflow.config

includeConfig '../nextflow.config'
includeConfig 'conf/modules.config'

params {
    pipeline_name    = 'OmniBio: PlantFlow'
    
    // Inputs
    longreads        = null
    hic_reads        = null    // Hi-C pairs for YaHS scaffolding
    hic_map          = null    // Pre-aligned BAM
    reference        = null    // Cousin species for RagTag
    transcriptome    = null    // RNA evidence for MAKER
    proteins         = null    // Protein evidence for MAKER
    
    // Outputs
    outdir           = '../outputs/plantflow'
}