// FungalFlow — Fungal genome assembly, annotation & BGC detection
// Included via nextflow.config: includeConfig 'fungalflow/modules.config'


process {

    // ==========================================================================
    // PHASE 1 — QC
    // ==========================================================================
    withName: '.*FASTP.*' {
        container  = 'staphb/fastp:0.23.4'
        ext.args   = '--detect_adapter_for_pe --qualified_quality_phred 20 --length_required 50'
         publishDir = [
                 path: { "${params.base_outdir}/fungalflow/${params.sample_id}/01_qc/fastp" },
                 mode: 'copy'
         ]
    }
    withName: '.*FILTLONG.*' {
        container  = 'quay.io/biocontainers/filtlong:0.2.1--h9a82719_0'
        ext.args   = '--min_length 1000 --keep_percent 95'
        // Add this line to force the output to be named something different:
        ext.prefix = { "${meta.id}.filtered" }
        publishDir = [
               path: { "${params.base_outdir}/fungalflow/${params.sample_id}/01_qc/filtlong" },
               mode: 'copy'
        ]
    }
    withName: '.*NANOPLOT.*' {
        container  = 'quay.io/biocontainers/nanoplot:1.42.0--pyhdfd78af_0'
        publishDir = [
            path: { "${params.base_outdir}/fungalflow/${params.sample_id}/01_qc/nanoplot" },
            mode: 'copy'
        ]
    }

    // ==========================================================================
    // PHASE 2 — Assembly
    // ==========================================================================
    withName: '.*SPADES.*' {
        container  = 'staphb/spades:4.0.0'
        cpus       = { check_max( 8,                    'cpus'   ) }
        memory     = { check_max( 16.GB * task.attempt, 'memory' ) }
        time       = { check_max( 48.h  * task.attempt, 'time'   ) }
        publishDir = [
            path: { "${params.base_outdir}/fungalflow/${params.sample_id}/02_assembly/spades" },
            mode: 'copy'
        ]
    }
    withName: '.*FLYE.*' {
        container  = 'quay.io/biocontainers/flye:2.9.3--py310h2b6aa90_0'
        ext.args   = ''
        cpus       = { check_max( 8,                    'cpus'   ) }
        memory     = { check_max( 16.GB * task.attempt, 'memory' ) }
        time       = { check_max( 72.h  * task.attempt, 'time'   ) }
        publishDir = [
            path: { "${params.base_outdir}/fungalflow/${params.sample_id}/02_assembly/flye" },
            mode: 'copy'
        ]

    }

    // ==========================================================================
    // PHASE 3 — Assembly QC
    // ==========================================================================
    withName: '.*QUAST.*' {
        container  = 'community.wave.seqera.io/library/quast:5.3.0--755a216045b6dbdd'
        publishDir = [
            path: { "${params.base_outdir}/fungalflow/${params.sample_id}/03_assembly_qc/quast" },
            mode: 'copy'
        ]
    }
    withName: '.*BUSCO.*' {
        container  = 'ezlabgva/busco:v5.8.0_cv1'
        cpus       = { check_max( 4,                   'cpus'   ) }
        memory     = { check_max( 6.GB * task.attempt, 'memory' ) }
        ext.args   = ''
        publishDir = [
            path: { "${params.base_outdir}/fungalflow/${params.sample_id}/03_assembly_qc/busco" },
            mode: 'copy'
        ]
    }

    // ==========================================================================
    // PHASE 4 — Repeat Masking
    // ==========================================================================
    withName: '.*REPEATMODELER.*' {
        container  = 'quay.io/biocontainers/repeatmodeler:2.0.5--pl5321hdfd78af_0'
        cpus       = { check_max( 4,                   'cpus'   ) }
        memory     = { check_max( 8.GB * task.attempt, 'memory' ) }
        publishDir = [
            path: { "${params.base_outdir}/fungalflow/${params.sample_id}/04_repeat_masking/repeatmodeler" },
            mode: 'copy'
        ]
    }
    withName: '.*REPEATMASKER.*' {
        container  = 'quay.io/biocontainers/repeatmasker:4.1.5--pl5321hdfd78af_0'
        cpus       = { check_max( 4,                   'cpus'   ) }
        memory     = { check_max( 8.GB * task.attempt, 'memory' ) }
        publishDir = [
            path: { "${params.base_outdir}/fungalflow/${params.sample_id}/04_repeat_masking/repeatmasker" },
            mode: 'copy'
        ]
    }

    // ==========================================================================
    // PHASE 5 — Structural Annotation
    // ==========================================================================

    withName: '.*FUNANNOTATE.*' {
        container = 'nextgenusfs/funannotate:v1.8.17'
        ext.args = '--augustus_species aspergillus_niger --busco_db dikarya'
        cpus             = { check_max( 4,                    'cpus'   ) }
        memory           = { check_max( 16.GB * task.attempt, 'memory' ) }
        containerOptions = { params.funannotate_db
            ? "-v ${params.funannotate_db}:/database -e FUNANNOTATE_DB=/database"
            : '' }

        publishDir = [
            path: { "${params.base_outdir}/fungalflow/${params.sample_id}/05_annotation/funannotate" },
            mode: 'copy'
        ]
    }
    withName: '.*BRAKER3.*' {
        container  = 'docker.io/teambraker/braker3:latest'
        cpus       = { check_max( 4,                    'cpus'   ) }
        memory     = { check_max( 16.GB * task.attempt, 'memory' ) }
        ext.args   = ''  // ← skip GeneMark, use Augustus only
        publishDir = [
            path: { "${params.base_outdir}/fungalflow/${params.sample_id}/05_annotation/braker3" },
            mode: 'copy'
        ]
    }

    // ==========================================================================
    // PHASE 6 — Secondary Metabolites
    // ==========================================================================
    withName: '.*ANTISMASH.*' {
        container  = 'docker.io/antismash/standalone:7.1.0'
        containerOptions = '--entrypoint ""'
        cpus       = { check_max( 8,                    'cpus'   ) }
        memory     = { check_max( 16.GB * task.attempt, 'memory' ) }
        time       = { check_max( 48.h  * task.attempt, 'time'   ) }
        ext.taxon  = 'fungi'
        ext.args   = ''
        publishDir = [
            path: { "${params.base_outdir}/fungalflow/${params.sample_id}/06_secondary_metabolites/antismash" },
            mode: 'copy'
        ]
    }

    // ==========================================================================
    // PHASE 7 — Functional Annotation
    // ==========================================================================
     withName: '.*EGGNOG.*' {
            container        = 'quay.io/biocontainers/eggnog-mapper:2.1.12--pyhdfd78af_0'
            containerOptions = { params.eggnog_db_dir
            ? "-v ${params.eggnog_db_dir}:/eggnog_db"
            : '' }
            ext.args  = '--no_file_comments'  // removed --no_annot — real DB available
            publishDir = [
                path: { "${params.base_outdir}/fungalflow/${params.sample_id}/07_functional/eggnog" },
                mode: 'copy'
            ]
     }
    withName: '.*DBCAN.*' {
        container        = 'quay.io/biocontainers/dbcan:4.1.4--pyhdfd78af_0'
        containerOptions = { params.dbcan_db
            ? "-v ${params.dbcan_db}:/db"
            : '' }
        publishDir = [
            path: { "${params.base_outdir}/fungalflow/${params.sample_id}/07_functional/dbcan" },
            mode: 'copy'
        ]
    }

    // ==========================================================================
    // PHASE 8 — Secretome Prediction
    // ==========================================================================
    withName: '.*DEEPSIG.*' {
        container        = 'bolognabiocomp/deepsig'
        containerOptions = '--entrypoint ""'
        publishDir = [
            path: { "${params.base_outdir}/fungalflow/${params.sample_id}/8_secretome/deepsig" },
            mode: 'copy'
        ]
    }

    // ==========================================================================
    // PHASE 9 — Comparative Genomics (--run_comparative true)
    // ==========================================================================
    withName: '.*ORTHOFINDER.*' {
        container  = 'davidemms/orthofinder:2.5.5'
        cpus       = { check_max( 8,                    'cpus'   ) }
        memory     = { check_max( 16.GB * task.attempt, 'memory' ) }
        publishDir = [
            path: { "${params.base_outdir}/fungalflow/${params.sample_id}/09_comparative/orthofinder" },
            mode: 'copy'
        ]
    }
    withName: '.*IQTREE2.*' {
        container  = 'quay.io/biocontainers/iqtree:2.3.6--hdbdd923_0'
        publishDir = [
            path: { "${params.base_outdir}/fungalflow/${params.sample_id}/09_comparative/iqtree2" },
            mode: 'copy'
        ]
    }
    withName: '.*CAFE5.*' {
        container  = 'quay.io/biocontainers/cafe:5.0.0--h031d066_2'
        publishDir = [
            path: { "${params.base_outdir}/fungalflow/${params.sample_id}/09_comparative/cafe5" },
            mode: 'copy'
        ]
    }
}