// fungalflow/nextflow.config

includeConfig '../nextflow.config'
includeConfig 'conf/modules.config'

params {
    pipeline_name    = 'OmniBio: FungalFlow'
    
    // Inputs
    shortreads       = null
    longreads        = null
    rnaseq_bam       = null    // RNA evidence for BRAKER3
    
    // Outputs
    outdir           = '../outputs/fungalflow'
    
    // Databases
    busco_db         = null    // Path to fungi_odb10
    protein_hints    = null    // OrthoDB proteins for BRAKER3
}