// fungalflow/conf/modules.config

process {
    withName: 'HIFIASM|UNICYCLER' {
        publishDir = [ path: { "${params.outdir}/01_assembly" }, mode: 'copy' ]
    }

    withName: 'BRAKER3|FUNANNOTATE' {
        publishDir = [ path: { "${params.outdir}/02_structural_annotation" }, mode: 'copy', pattern: '*.{gff3,proteins.fa}' ]
    }

    withName: 'EGGNOG|DBCAN' {
        publishDir = [ path: { "${params.outdir}/03_functional_annotation" }, mode: 'copy' ]
    }

    withName: 'SIGNALP' {
        publishDir = [ path: { "${params.outdir}/04_secretome" }, mode: 'copy' ]
    }
}