// nextamr/nextflow.config

// 1. Inherit Global Limits and Profiles (Docker, Singularity, etc.)
includeConfig '../nextflow.config'

// 2. Inherit Tool-Specific Arguments
includeConfig 'conf/modules.config'

// 3. Define Pipeline-Specific Parameters
params {
    pipeline_name = 'OmniBio: NextAMR'
    
    // Inputs
    reads         = null
    longreads     = null
    
    // Outputs
    outdir        = '../outputs/nextamr'
    
    // Database Paths
    bakta_db      = null
    amrfinder_db  = null
}