// plantflow/conf/modules.config

process {
    withName: 'HIFIASM' {
        publishDir = [ path: { "${params.outdir}/01_assembly" }, mode: 'copy' ]
    }

    withName: 'YAHS|RAGTAG' {
        publishDir = [ path: { "${params.outdir}/02_scaffolding" }, mode: 'copy' ]
    }

    withName: 'HELIXER|MAKER' {
        publishDir = [ path: { "${params.outdir}/03_annotation" }, mode: 'copy' ]
    }

    withName: 'PLANTTFDB|NLR_ANNOTATOR' {
        publishDir = [ path: { "${params.outdir}/04_defense_and_regulation" }, mode: 'copy' ]
    }

    withName: 'ANTISMASH' {
        // Force antiSMASH into plant-specific cluster detection mode
        ext.args = '--taxon plants'
        publishDir = [ path: { "${params.outdir}/05_secondary_metabolites" }, mode: 'copy' ]
    }
}