// nextamr/conf/modules.config

process {
    withName: 'UNICYCLER|FLYE' {
        publishDir = [ path: { "${params.outdir}/01_assembly/drafts" }, mode: 'copy' ]
    }

    withName: 'PYPOLCA|MEDAKA' {
        publishDir = [ path: { "${params.outdir}/01_assembly/polished" }, mode: 'copy', pattern: '*.fasta' ]
    }

    withName: 'BAKTA' {
        publishDir = [ path: { "${params.outdir}/02_annotation" }, mode: 'copy' ]
    }

    withName: 'AMRFINDERPLUS' {
        ext.args = '--plus --nucleotide'
        publishDir = [ path: { "${params.outdir}/03_resistance_profiles" }, mode: 'copy' ]
    }
}